// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #1f1e20;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-twelve-hour-clock {
  background-color: $background-color;
}

.a {
  font-size: 2em
}

.b {
  font-size: 5em
}
