<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-view="TwelveHourClock"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="forecast" data-view="Forecast" data-title="Weather Forecast" ></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="todoist" data-view="Todoist" data-unordered="true" data-title=""></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
      <div data-view="Countdown" data-title="Hannah's B-day" data-end="13-October-2019"></div>
    </li>
  </ul>
</div>
